# ============================================================================
# ProxyShard User API: OpenAPI 3.0.3.
#
# ИСТОЧНИК ПРАВДЫ по публичному API. Раньше спека жила только в GitBook
# (docs.proxyshard.com/proxyshard-api/*), из-за чего расходилась с кодом
# незаметно: ответы ручек уже отдавали message и proxy_password, а спека
# продолжала обещать старую форму.
#
# Правила:
#   * добавил/изменил ручку в services/user-api - правь этот файл в ТОМ ЖЕ
#     коммите;
#   * теги = страницы в GitBook, менять их имена без нужды не стоит;
#   * после мержа залить файл в GitBook (OpenAPI-спека проекта), иначе
#     клиенты снова увидят устаревшее.
#
# Проверка перед заливкой:
#   python -m openapi_spec_validator services/user-api/openapi.yaml
# ============================================================================
openapi: 3.0.3
info:
  title: "Биллинг пользовательского API ProxyShard"
  version: 1.1.0
servers:
  - url: https://user-api.proxyshard.com
security:
  - bearerAuth: []
tags:
  - name: Datacenter & ISP Proxies
    description: Операции для датацентровых и ISP прокси
  - name: General
    description: Общие операции (профиль, заказы, справочники)
  - name: Residential Proxies
    description: Операции для резидентских прокси
  - name: Service
    description: "Зонды работоспособности (без аутентификации)"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ActiveProxyItem:
      type: object
      properties:
        ip:
          type: string
        username:
          type: string
        password:
          type: string
        http_port:
          type: integer
        socks_port:
          type: integer
        until:
          type: string
          description: "Строка даты ISO 8601"
        status:
          type: string
        signature:
          type: string
          nullable: true
          description: "подпись p0f, назначенная IP-адресу, ноль, если не установлена"
      required:
        - ip
        - username
        - password
        - http_port
        - socks_port
        - until
        - status
    ApiError:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
      required:
        - success
        - message
    AddonLine:
      type: object
      description: "Одна строка дополнения, сохраненная в заказе"
      properties:
        addon_key:
          type: string
        catalog_id:
          type: integer
        qty:
          type: integer
          description: "Активные единицы за текущий период"
        price_per_unit:
          type: integer
          description: "Цена за единицу в центах на момент покупки"
        pending:
          description: "Изменение запланировано на следующее продление или `null`"
          nullable: true
          type: object
          properties:
            action:
              type: string
              enum:
                - cancel
                - downgrade
            next_qty:
              type: integer
              description: "Целевое количество после понижения"
    PurchaseRequestDcIsp:
      type: object
      description: "Покупка для Datacenter/ISP; поле location обязательно."
      properties:
        product:
          type: string
          enum:
            - Datacenter Proxy
            - ISP Proxy
        location:
          type: string
        cycle:
          type: string
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: "Дополнения, прикрепляемые во время покупки, например `p0f_slots` для DC или ISP."
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - location
        - cycle
    PurchaseRequestResidentialStandard:
      type: object
      description: "Покупка для Standart Residential Proxy; location не требуется; цикл фиксирован (lifetime)."
      properties:
        product:
          type: string
          enum:
            - Standart Residential Proxy
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        addons:
          type: array
          nullable: true
          description: "Дополнения, прикрепляемые во время покупки, например `p0f_slots` для DC или ISP."
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
    PurchaseRequestResidentialPremium:
      type: object
      description: "Покупка для Premium Residential Proxy; location не требуется; цикл фиксирован (lifetime)."
      properties:
        product:
          type: string
          enum:
            - Premium Residential Proxy
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        addons:
          type: array
          nullable: true
          description: "Дополнения, прикрепляемые во время покупки, например `p0f_slots` для DC или ISP."
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
    PurchaseRequestResidentialUnmetered:
      type: object
      description: "Покупка для Unmetered Residential proxy; поддерживает авто-продление."
      properties:
        product:
          type: string
          enum:
            - Unmetered Residential proxy
        cycle:
          type: string
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: "Дополнения, прикрепляемые во время покупки, например `p0f_slots` для DC или ISP."
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - cycle
    PurchaseRequest:
      type: object
      properties:
        product:
          type: string
        location:
          type: string
          nullable: true
        cycle:
          type: string
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: "Дополнения, прикрепляемые во время покупки, например `p0f_slots` для DC или ISP."
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - cycle
    PurchaseResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        order_id:
          type: integer
      required:
        - success
        - message
        - order_id
    ProductWithCycles:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        cycles:
          type: array
          items:
            type: string
      required:
        - name
        - cycles
    AvailableCountResponse:
      type: object
      properties:
        country:
          type: string
        product:
          type: string
        amount:
          type: integer
      required:
        - country
        - product
        - amount
    ApiMeResponse:
      type: object
      properties:
        email:
          type: string
        active_orders:
          type: integer
        wallet_balance:
          type: integer
          description: в центах
      required:
        - email
        - active_orders
        - wallet_balance
    ApiSuccess:
      type: object
      properties:
        success:
          type: boolean
      required:
        - success
    AvailableCountRequest:
      type: object
      properties:
        country:
          type: string
        product:
          type: string
      required:
        - country
        - product
    AddBandwidthRequest:
      type: object
      properties:
        amount:
          type: integer
          description: Объём в ГБ
        promo_code:
          type: string
          nullable: true
      required:
        - amount
    GetSubUsersRequest:
      type: object
      properties:
        offset:
          type: integer
          description: Смещение (по умолчанию 0)
        limit:
          type: integer
          description: Размер страницы (по умолчанию 20)
    EditSubUserPayload:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    CreateSubUserPayload:
      type: object
      properties:
        proxy_type:
          type: string
        name:
          type: string
        data:
          type: integer
          description: Объём в ГБ
      required:
        - proxy_type
        - name
        - data
    ChangeSubUserPasswordPayload:
      type: object
      properties:
        proxy_type:
          type: string
      required:
        - proxy_type
    ModifyTrafficPayload:
      type: object
      properties:
        proxy_type:
          type: string
        data:
          type: integer
          description: Объём в ГБ
      required:
        - proxy_type
        - data
    Country:
      type: object
      properties:
        code:
          type: string
          maxLength: 10
          description: "Код страны ISO"
        name:
          type: string
          maxLength: 255
          description: "Название страны"
      required:
        - code
        - name
    Region:
      type: object
      properties:
        code:
          type: string
          maxLength: 10
          description: "Код региона или штата"
        name:
          type: string
          maxLength: 255
          description: "Название региона или штата"
        country:
          $ref: '#/components/schemas/Country'
      required:
        - code
        - name
        - country
    City:
      type: object
      properties:
        code:
          type: string
          maxLength: 50
          description: "Код города, обычно в формате slug"
        name:
          type: string
          maxLength: 255
          description: "Название города"
        country:
          $ref: '#/components/schemas/Country'
        region:
          type: object
          nullable: true
          properties:
            code:
              type: string
              maxLength: 10
              description: "Код региона"
            name:
              type: string
              maxLength: 255
              description: "Название региона"
          required:
            - code
            - name
      required:
        - code
        - name
        - country
    PagedCountriesResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Country'
      required:
        - count
        - results
    PagedRegionsResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Region'
      required:
        - count
        - results
    PagedCitiesResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/City'
      required:
        - count
        - results
    Isp:
      type: object
      properties:
        code:
          type: string
          description: "Код интернет-провайдера, обычно в формате slug"
        name:
          type: string
          description: "Имя интернет-провайдера"
        country:
          $ref: '#/components/schemas/Country'
        region:
          type: object
          nullable: true
          properties:
            code:
              type: string
              description: "Код региона"
            name:
              type: string
              description: "Название региона"
          required:
            - code
            - name
      required:
        - code
        - name
        - country
    PagedIspsResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Isp'
      required:
        - count
        - results
    CreateOrderAddonRequest:
      type: object
      properties:
        addon_key:
          type: string
          example: p0f_slots
        qty:
          type: integer
          minimum: 1
      required:
        - addon_key
        - qty
paths:
  /user/api/proxies/active:
    get:
      tags:
        - Datacenter & ISP Proxies
      summary: Получить активные прокси по заказу
      parameters:
        - in: query
          name: order_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Список прокси
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActiveProxyItem'
                  order_tag:
                    type: string
                    nullable: true
                required:
                  - success
                  - data
        '403':
          description: Метод недоступен для этого заказа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/del-np/set:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "Установить удаление для каждого IP-адреса (del-np)"
      description: "Только для прокси дата-центров и ISP. После обновления заказа поля `quantity` и `price_paid` пересчитываются."
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      ip:
                        type: string
                      value:
                        type: boolean
                    required:
                      - ip
                      - value
              required:
                - items
      responses:
        '200':
          description: "Успех"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: "Ошибка проверки, не DC-ISP или `keep=0`"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/signature/set:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "Установить отпечаток ОС для IP"
      description: "Устанавливает подпись отпечатка ОС для одного или нескольких IP-адресов прокси. Требуется, чтобы дополнение `p0f_slots` было активным для заказа. Каждый IP, получивший подпись, постоянно занимает один слот. Изменение значения ОС на IP-адресе, который уже имеет подпись, не требует дополнительного слота. **Доступные значения подписи:** | Значение | ОС | |-------|----| | `ios` | iOS | | `macos` | macOS | | `android` | Android | | `linux` | Linux | | `win10` | Windows 10 | | `win11` | Windows 11 |"
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - ip
                      - signature
                    properties:
                      ip:
                        type: string
                      signature:
                        type: string
                        description: "Идентификатор ОС для подделки."
                        enum:
                          - ios
                          - macos
                          - android
                          - linux
                          - win10
                          - win11
      responses:
        '200':
          description: "Успех"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  updated:
                    type: integer
                    description: "Количество обновленных IP-адресов"
        '400':
          description: "Ошибка валидации или недостаточно слотов"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/addons/calculate:
    get:
      tags:
        - Datacenter & ISP Proxies
      summary: "Рассчитать дополнительную стоимость"
      description: "Возвращает предварительный просмотр цены на приобретение дополнительных единиц данного дополнения для активного заказа центра обработки данных или интернет-провайдера. В настоящее время поддерживается только дополнительный ключ `p0f_slots`; Слоты для подписи отпечатков пальцев ОС."
      parameters:
        - in: path
          name: order_id
          required: true
          description: "Идентификатор заказа"
          schema:
            type: integer
        - in: query
          name: addon_key
          required: true
          description: "Идентификатор дополнения (например, `p0f_slots`)"
          schema:
            type: string
        - in: query
          name: add_qty
          required: true
          description: "Количество единиц для добавления"
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: "Предварительный просмотр цены"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  addon_key:
                    type: string
                  catalog_id:
                    type: integer
                  price_per_unit:
                    type: integer
                    description: "Цена за единицу в центах"
                  current_qty:
                    type: integer
                  add_qty:
                    type: integer
                  new_qty:
                    type: integer
                  add_total:
                    type: integer
                    description: "Общая сумма за эту покупку в центах"
  /user/api/orders/{order_id}/addons/purchase:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "Купить дополнение"
      description: "Списывает средства с кошелька и добавляет к заказу указанное количество единиц дополнения. Заказ должен иметь статус **active**. Сейчас доступен только ключ `p0f_slots`."
      parameters:
        - in: path
          name: order_id
          required: true
          description: "Идентификатор заказа"
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
                - add_qty
              properties:
                addon_key:
                  type: string
                add_qty:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: "Дополнение куплено"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons_price_paid:
                    type: integer
                    description: "Совокупная дополнительная стоимость для этого заказа (центы)"
                  addons:
                    type: array
                    description: "Обновленный список дополнений, хранящийся в заказе."
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/{order_id}/addons/schedule:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "Запланировать понижение версии дополнения"
      description: "Планирует **понижение** дополнения на следующий цикл продления. Новое количество должно быть меньше текущего. Изменение сохраняется как маркер `pending` и применяется автоматически при продлении заказа."
      parameters:
        - in: path
          name: order_id
          required: true
          description: "Идентификатор заказа"
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
                - action
                - next_qty
              properties:
                addon_key:
                  type: string
                action:
                  type: string
                  enum:
                    - downgrade
                next_qty:
                  type: integer
                  description: "Целевое количество после продления. Должно быть меньше текущего количества."
                  minimum: 1
      responses:
        '200':
          description: "Понижение запланировано"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons:
                    type: array
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/{order_id}/addons/schedule/cancel:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "Отменить запланированный переход на более раннюю версию"
      description: "Удаляет ожидающее понижение версии, установленное через конечную точку расписания."
      parameters:
        - in: path
          name: order_id
          required: true
          description: "Идентификатор заказа"
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
              properties:
                addon_key:
                  type: string
      responses:
        '200':
          description: "Запланированное понижение отменено"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons:
                    type: array
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/purchase:
    post:
      tags:
        - General
      summary: Создать и оплатить заказ
      description: "Покупка по имени продукта, локации и циклу.\nДля Datacenter/ISP; location обязателен.\nДля Standart Residential Proxy; location не требуется.\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PurchaseRequestDcIsp'
                - $ref: '#/components/schemas/PurchaseRequestResidentialStandard'
                - $ref: '#/components/schemas/PurchaseRequestResidentialPremium'
                - $ref: '#/components/schemas/PurchaseRequestResidentialUnmetered'
                - $ref: '#/components/schemas/PurchaseRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseResponse'
        '400':
          description: Ошибка валидации/баланса/недостаток стока
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Неавторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/calculate:
    get:
      tags:
        - General
      summary: "Рассчитать стоимость заказа"
      description: "Рассчитывает цену по названию продукта, названию цикла и количеству. Использует те же правила проверки, что и при покупке (разрешенные платежные циклы, правила промоакций)."
      parameters:
        - in: query
          name: product
          required: true
          schema:
            type: string
        - in: query
          name: location
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: cycle
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: quantity
          required: false
          schema:
            type: integer
            nullable: true
        - in: query
          name: promo_code
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: addons_json
          required: false
          description: "Массив дополнений в URL-кодированном JSON, например [{\"addon_key\":\"p0f_slots\",\"qty\":5}]"
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: "Успех"
          content:
            application/json:
              schema:
                type: object
                properties:
                  original_price:
                    type: integer
                  final_price:
                    type: integer
                  discount_percent:
                    type: integer
                  addons_price:
                    type: integer
                    description: "Общая стоимость дополнений в минимальных единицах"
                  total_with_addons:
                    type: integer
                    description: "final_price + addons_price"
        '400':
          description: "Ошибка проверки"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: "Требуется авторизация"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/change-billing-cycle/{order_id}:
    post:
      tags:
        - General
      summary: Изменить биллинг-цикл заказа
      description: |
        Меняет цикл оплаты по названию цикла. Только для Datacenter & ISP прокси.
        Если промокод недоступен для выбранного цикла, он будет автоматически сброшен.
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cycle:
                  type: string
              required:
                - cycle
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  order_id:
                    type: integer
                  original_price:
                    type: integer
                  final_price:
                    type: integer
                  discount_percent:
                    type: integer
        '400':
          description: Неверный продукт или цикл
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Неавторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Цикл недоступен для этого пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/edit-auto-renewal/{order_id}:
    post:
      tags:
        - General
      summary: Изменить авто-продление заказа
      description: |
        Включить/выключить авто-продление. Только для Datacenter & ISP прокси.
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
        - in: query
          name: auto_renewal
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Неверный продукт для операции
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Неавторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/proxies/products:
    get:
      tags:
        - General
      summary: Получить продукты и их циклы
      description: Возвращает продукты для API с названиями доступных циклов.
      responses:
        '200':
          description: Список продуктов
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductWithCycles'
                required:
                  - success
                  - products
  /user/api/proxies/available-count:
    get:
      tags:
        - General
      summary: "Получить доступное количество прокси"
      description: Возвращает суммарное доступное количество для всех продуктов.
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableCountResponse'
  /user/api/me:
    get:
      tags:
        - General
      summary: Информация о пользователе
      responses:
        '200':
          description: Данные профиля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMeResponse'
  /user/api/orders:
    get:
      tags:
        - General
      summary: Список заказов
      parameters:
        - in: query
          name: status
          required: true
          description: "активный | в ожидании | отменен | все"
          schema:
            type: string
        - in: query
          name: offset
          required: false
          description: Смещение выборки (по умолчанию 0)
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          required: false
          description: Размер страницы (1..100, по умолчанию 20)
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Список заказов
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        order_id:
                          type: integer
                        product_id:
                          type: integer
                        product_name:
                          type: string
                        cycle_id:
                          type: integer
                        cycle_name:
                          type: string
                        expires_at:
                          type: string
                          nullable: true
                          description: ISO8601 время истечения
                        auto_renewal:
                          type: boolean
                          nullable: true
                        tag:
                          type: string
                          nullable: true
                      required:
                        - order_id
                        - product_id
                        - product_name
                        - cycle_id
                        - cycle_name
                  count:
                    type: integer
                    description: Количество заказов в текущей выборке
                  prev:
                    type: string
                    nullable: true
                    description: URI предыдущей страницы
                  next:
                    type: string
                    nullable: true
                    description: URI следующей страницы
                required:
                  - success
                  - orders
  /user/api/orders/{id}:
    get:
      tags:
        - General
      summary: Получить информацию о заказе
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Информация о заказе
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  order:
                    type: object
                    properties:
                      order_id:
                        type: integer
                      product_name:
                        type: string
                      cycle_name:
                        type: string
                      quantity:
                        type: integer
                      price_paid:
                        type: integer
                        description: "Базовая цена подписки в центах"
                      addons_price_paid:
                        type: integer
                        description: "Общая дополнительная стоимость в центах"
                      addons:
                        type: array
                        description: "Дополнительные строки, прикрепленные к этому заказу"
                        items:
                          $ref: '#/components/schemas/AddonLine'
                      p0f_slots_available:
                        type: integer
                        description: "Активные слоты для подписи p0f (из дополнений)"
                      p0f_slots_used:
                        type: integer
                        description: "Слоты, в настоящее время занятые подписанными прокси"
                      p0f_slots_next:
                        type: integer
                        description: "Слоты, которые будут активны после следующего продления"
                      status:
                        type: string
                      created_at:
                        type: string
                        nullable: true
                      expires_at:
                        type: string
                        nullable: true
                      promo_code:
                        type: string
                        nullable: true
                      auto_renewal:
                        type: boolean
                        nullable: true
                      tag:
                        type: string
                        nullable: true
                required:
                  - success
                  - order
  /user/api/orders/{id}/renew:
    post:
      tags:
        - General
      summary: Продлить заказ
      description: "Продление доступно только при статусе заказа `on-hold`."
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order renewed successfully
                required:
                  - success
                  - message
        '400':
          description: Недостаточный баланс/валидация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{id}/tag:
    post:
      tags:
        - General
      summary: Изменить тег заказа
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tag:
                  type: string
              required:
                - tag
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order tag updated
                required:
                  - success
                  - message
  /user/api/orders/{id}/add-bandwidth:
    post:
      tags:
        - Residential Proxies
      summary: Купить дополнительный трафик (Residential)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBandwidthRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order paid successfully
                required:
                  - success
                  - message
  /user/api/proxies/profile:
    get:
      tags:
        - Residential Proxies
      summary: "Трафик владельца аккаунта"
      description: "Возвращает общие и оставшиеся данные родительского аккаунта для данного типа прокси, агрегированные по родительским заказам. В отличие от конечных точек субпользователя, здесь отражаются данные владельца учетной записи, а не субпользователя."
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: "Тип прокси (стандарт | премиум)"
          schema:
            type: string
      responses:
        '200':
          description: "Успех"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: integer
                    description: "Общее количество выделенных данных в байтах"
                  data_remain:
                    type: integer
                    description: "Оставшиеся данные в байтах"
                  data_spent:
                    type: integer
                    description: "Потребляемые данные в байтах"
                  proxy_password:
                    type: string
                    description: "Пароль прокси-сервера родительской учетной записи"
                required:
                  - success
                  - data
                  - data_remain
                  - data_spent
                  - proxy_password
        '400':
          description: "Резидент пользователя не установлен/неверный тип прокси"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: "Требуется авторизация"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/proxies/sub-users:
    get:
      tags:
        - Residential Proxies
      summary: Список саб-пользователей
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Тип прокси (standart | premium)
          schema:
            type: string
        - in: query
          name: offset
          required: false
          schema:
            type: integer
        - in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  count:
                    type: integer
                    description: "Всего подпользователей до разбиения на страницы"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                        data_remain:
                          type: integer
                      required:
                        - user_id
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
                        - data_remain
  /user/api/proxies/sub-user/{user_id}:
    get:
      tags:
        - Residential Proxies
      summary: Получить саб-пользователя по ID
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Тип прокси (standart | premium)
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                      required:
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
    delete:
      tags:
        - Residential Proxies
      summary: Удалить саб-пользователя
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user deleted successfully
                required:
                  - success
                  - message
    patch:
      tags:
        - Residential Proxies
      summary: Редактировать саб-пользователя (имя/пакет)
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Тип прокси (standart | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSubUserPayload'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user edited successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user:
    post:
      tags:
        - Residential Proxies
      summary: Создать саб-пользователя
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Тип прокси (standart | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                data:
                  type: integer
              required:
                - name
                - data
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                      required:
                        - user_id
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
  /user/api/proxies/sub-user/{user_id}/data/add:
    post:
      tags:
        - Residential Proxies
      summary: Добавить трафик саб-пользователю
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Тип прокси (standart | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: integer
                  description: Объём в ГБ
              required:
                - data
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Traffic added to sub user successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user/{user_id}/data/subtract:
    post:
      tags:
        - Residential Proxies
      summary: Списать трафик у саб-пользователя
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Тип прокси (standart | premium)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: integer
                  description: Объём в ГБ
              required:
                - data
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Traffic subtracted from sub user successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user/{user_id}/password:
    post:
      tags:
        - Residential Proxies
      summary: Сменить пароль саб-пользователя
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: Тип прокси (standart | premium)
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user password changed successfully
                required:
                  - success
                  - message
  /user/api/proxies/countries:
    get:
      tags:
        - Residential Proxies
      summary: Список стран
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Тип прокси (standart | premium)
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCountriesResponse'
  /user/api/proxies/regions:
    get:
      tags:
        - Residential Proxies
      summary: Список регионов
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Тип прокси (standart | premium)
          schema:
            type: string
        - in: query
          name: country_code
          required: true
          description: ISO код страны
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedRegionsResponse'
  /user/api/proxies/cities:
    get:
      tags:
        - Residential Proxies
      summary: Список городов
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: Тип прокси (standart | premium)
          schema:
            type: string
        - in: query
          name: country_code
          required: true
          description: ISO код страны
          schema:
            type: string
        - in: query
          name: region_code
          required: true
          description: Код региона (штата/провинции)
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCitiesResponse'
  /user/api/proxies/isps:
    get:
      tags:
        - Residential Proxies
      summary: "Список интернет-провайдеров"
      description: "Интернет-провайдеры, доступные внутри города; четвертый уровень таргетинга после страны, региона и города. В отличие от других конечных точек местоположения, для этой требуется полная цепочка: `country_code`, `region_code` и `city_code` необходимы, поскольку вышестоящие интернет-провайдеры привязаны к городу. Только пакет «Премиум»: каталог интернет-провайдеров не поддерживается для стандартных и безлимитных пакетов, а любой другой `proxy_type` отклоняется с кодом 400. Интернет-провайдеры указаны только для крупных городов, поэтому пустой `results` с `count: 0` является нормальным ответом для меньшего города."
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: "Должно быть `premium`; Таргетинг на интернет-провайдеров доступен только для премиум-класса."
          schema:
            type: string
            enum:
              - premium
        - in: query
          name: country_code
          required: true
          description: "Код страны ISO"
          schema:
            type: string
        - in: query
          name: region_code
          required: true
          description: "Код региона или штата"
          schema:
            type: string
        - in: query
          name: city_code
          required: true
          description: "Код города из GET /user/api/proxy/cities."
          schema:
            type: string
      responses:
        '200':
          description: "Успех"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedIspsResponse'
        '400':
          description: "proxy_type не `premium`, резидентность пользователя не установлена ​​или у пользователя нет активного заказа на пакет."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                notPremium:
                  value:
                    success: false
                    message: ISP targeting is available for the premium package only
        '401':
          description: "Требуется авторизация"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /health:
    get:
      tags:
        - Service
      summary: "Проверка состояния сервиса"
      description: "За пределами префикса /user/api/, поэтому ключ API не требуется."
      security: []
      responses:
        '200':
          description: "Служба запущена"
  /health/live:
    get:
      tags:
        - Service
      summary: "Проверка работоспособности"
      description: "За пределами префикса /user/api/, поэтому ключ API не требуется."
      security: []
      responses:
        '200':
          description: "Служба запущена"
